@model IEnumerable<MVCtest.ViewModels.ItemViewModel>

@{
    ViewData["Title"] = "Items Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>@ViewData["Title"]</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            @*
            <th>
                @Html.DisplayNameFor(model => model.Id)
            </th>
            *@
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.field1)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.UserName)
            </th>
            @*
            <th>
                @Html.DisplayNameFor(model => model.UserId)
            </th>
            *@
            <th>
                @Html.DisplayNameFor(model => model.Description)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            @*<td>
                @Html.DisplayFor(modelItem => item.Id)
            </td>*@
            @Html.HiddenFor(modelItem => item.Id)

            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.field1)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.UserName)
            </td>
            @*
            <td>
                @Html.DisplayFor(modelItem => item.UserId)
            </td>
            *@
            <td>
                @Html.DisplayFor(modelItem => item.Description)
            </td>
            <td>
                @Html.ActionLink("Update", "Update", new {  itemId = item.Id }) |
                @Html.ActionLink("Details", "Details", new { itemId = item.Id }) |
                @Html.ActionLink("Delete", "Delete", new { itemId = item.Id }) |
                @Html.ActionLink("Use", "UseItem", new { itemId = item.Id })
            </td>
        </tr>
}
    </tbody>
</table>
